.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.trans {
  transition: 100ms ease;
}

.fadeAway {
  animation: fadeAway 1000ms linear forwards;
}

@keyframes fadeAway {
  0% {
    top: -1000px;
  } 100% {
    top: 0px;
  }
};

@tailwind base;
@tailwind components;
@tailwind utilities;